body {
  margin: 0;
  font-family: monospace;
  background-color: lightgrey;
}

  #banner {
    display: inline;
    justify-content: left;
    background: rgb(67, 67, 67);
    opacity: .8;
    height: 4rem;
    padding: 1rem;
    position: fixed;
    width: 100%;
  }

    #bannerImg {
      width: 25%;
    }

    #stats {
      width: 75%;
    }

  #main {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    min-height: 50rem;
    align-items: stretch;
  }

    .sidebar {
      height: 100%;
      width: 200px;
      position: fixed;
      left: 0;
      top: 6rem;
      padding: 10px;
      background-color: rgb(64, 135, 159);
      }

      #decks {
        margin-bottom: -10px;
      }

      #search {
        display: flex;
        flex-direction: column;
      }

      label {
        margin-left: 10px;
        margin-top: 10px;
        margin-bottom: 2px;
        color: rgb(67, 67, 67);
      }

      select {
        margin-left: 10px;
        width: 90%;
        color: rgb(67, 67, 67);
      }

      input {
        margin-left: 10px;
        width: 86%;
        color: rgb(67, 67, 67);
      }

      hr {
        width: 90%;
      }

      .form-buttons {
        padding-left: 10px;
        padding-top: 10px;
      }

      .control {
        height: 1.5rem;
      }

        .corp {
          background: lightblue;
        }

        .runner {
          background: pink;
        }
      
      #search {
        padding-top: 10px;
      }

      .author {
        position: absolute;
        margin-top: 42rem;
      }

    .cardblock {
      width: auto;
      margin-left: 200px;
      padding-top: 6rem;
    }

button {
  position: relative;
  background-color: rgb(67, 67, 67);
  border: none;
  border-radius: 5px;
  height: 1.5rem;
  width: max-content;
  color: whitesmoke;
  font-size: 14px;
  justify-self: center;
}

button:hover {
  background-color: whitesmoke;
  border: rgb(67, 67, 67) solid 1px;
  color: rgb(67, 67, 67);
}

.spacer {
  margin-top: 10px;
}
  
/* These are items added to the cards as they're created */

#collection-add {
  width: 8rem;
  justify-self: center;
  height: 1.5rem;
}

#collection-select {
  position: relative;
  align-self: auto;
}

.demarcation {
  width: 50%;
  height: 1px;
}

.card-box {
  text-align: center;
  border: grey solid 1px;
  background-color: white;
  padding: 1rem;
  width: 20rem;
  height: 40rem;
  display: inline-grid;
  margin: 1rem 2rem;
  box-shadow: 3px 4px darkgrey;
}

#card_name {
  height: 1.25rem;
}

.card-image {
  justify-self: center;
  height: 24rem;
  width: auto;
}

.zoom {
  height: 48rem;
  width: auto;
  z-index: 100;
  position: sticky;
}

#deckInput {
  margin-right: 10px;
}